.events {
  background-color: #000015;
  min-height: 100vh;
  padding: 30px 0px 100px;
}
  
.heading {
  display: flex;
  justify-content: center;
  color: White;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-top: 16px;
}

