.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000015;
  width: 100%;
  padding: 1rem 1.5rem 5rem 1.5rem;
}

.img{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img{
  width: 100%;
  height: auto;
}

.about-content{
  width: 50%;
  color: white;
}

.about-heading{
  padding: 5px;
  text-align: left;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-info{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.about-btn {  
  width: 100%;
  color: #000015;
  background: #60b8d5;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: auto;
  width: 200px;
  border-radius: 30px;
  font-weight: bold;  
}
.about-btn:hover {
  transition: all 0.2s ease-in-out;
  background: #139fcd;
  color: #031d26;
}

@media screen and (max-width: 50rem) {
    .about-info{
      font-size: 0.8rem;
    }
}

@media screen and (max-width: 40rem) {
  .about{
    flex-direction: column;
    padding-top: 4rem;
  }
  .img{
    width: 100%;
    margin-bottom: 3rem;
  }
  .about-img{
    width: 40%;
  }
  .about-content{
    text-align: center;
    width: 100%;
    padding: 0 2rem;
  }
  .about-heading{
    text-align: center;
  }
}
