.about {
  display: flex;
  align-items: center;
}

.img{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.about-img{
  padding: 10px;
  height: 100px;
}

.about-content{
  color: white;
  padding: 10px;
  
}

.about-heading{
  text-align: left;
  font-size: 30px;
}

.about-info{
  padding-left: 10px;
  padding-right: 10px;
}


.about-btn {  
  width: 100%;
  color: #000015;
  background: #60b8d5;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: auto;
  width: 200px;
  border-radius: 30px;
  font-weight: bold;
}
.about-btn:hover {
  transition: all 0.2s ease-in-out;
  background: #139fcd;
  color: #031d26;
}
